<div class="articles">
    <div class="articleItem">
        <h3>Prvy clanok - Nadpis</h3>
        <p>Uvodny text clanku</p>
    </div>
    <hr>
    <div class="articleItem">
        <h3>Prvy clanok - Nadpis</h3>
        <p>Uvodny text clanku</p>
    </div>
    <hr>
    <div class="articleItem">
        <h3>Prvy clanok - Nadpis</h3>
        <p>Uvodny text clanku</p>
    </div>
    <hr>
    <div class="articleItem">
        <h3>Prvy clanok - Nadpis</h3>
        <p>Uvodny text clanku</p>
    </div>
    <hr>
    <div class="articleItem">
        <h3>Prvy clanok - Nadpis</h3>
        <p>Uvodny text clanku</p>
    </div>
</div>
