.commentBox {
    border: 1px solid lightslategray;
    border-radius: 1rem;
    padding: 2rem;
    width: 70%;
    margin-left: 15%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin:0;
    padding:0;
}